body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url("../background.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #333;
}

.navbar {
    background-color: #333;
    overflow: hidden;
    width: 100%;
    z-index: 10;
    position: fixed;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    height: 50px;
}

.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
}

.nav-list li {
    margin-right: 20px;
}

.nav-list a {
    text-decoration: none;
    color: white;
    padding: 14px 20px;
    display: block;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1;
    width: 100vw;
    height: 100vh;

}

.content {
    position: relative;
    z-index: 3;
    padding: 20px;
    background-color: white;
    width: 80%;
    max-width: 1200px;
    min-height: 100vh;
    margin-top: 50px;
}

h1 {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    font-weight: bold;
    margin: 0;
    font-size: 40px;
}

h2 {
    font-family: 'Lobster', cursive;
    text-align: center;
    font-weight: 500;
    margin: 20px;
    font-size: 35px;
    color:rgb(230, 141, 63);
}

h3 {
    margin: 5px;
    padding-bottom: 5px;
    font-family: 'Lobster', cursive;
    color:rgb(227, 61, 61);
    font-weight: 500;
}

h1::after {
    content: '';
    display: block;
    width: 50%;
    height: 4px;
    background-color: #2980b9;
    margin: 5px auto 0;
    border-radius: 2px;
}

.navbar-brand {
    color: rgb(244, 214, 42);
    font-family: 'Lobster', cursive;
}

.nav-link {
    font-family: 'Quicksand', sans-serif;
}

.community-recipes {
    display:flex;
    justify-content:center;
    flex-wrap: wrap;
    max-width: 100%;
}

.recipe-cards {
    display:inline-block;
    border: 2px solid grey;
    width:253px;
    margin:50px;
    box-sizing:border-box;
    border-radius: 5px;
}

.recipe-link {
    display:flex; 
    flex-direction:column; 
    align-items:center;
    text-decoration: none;
    color: inherit;
    height: 100%;
    justify-content: space-between;
}

.recipe-cards:hover {
    border: 2px solid rgb(179, 155, 17);
}

.recipe-cardimage:hover {
    border-bottom: 2px solid rgb(179, 155, 17);
}

.recipe-cardimage {
    height:300px;
    width:100%;
    display:block;
    border-bottom: 2px solid grey;
    border-radius: 5px 5px 0 0;
}

.recipe-cardlabel {
    max-width:200px;
    padding:2px;
    text-align:center;
    font-family: 'Quicksand', sans-serif;
    font-weight:bold;
}

.recipe-source {
    font-size:12px;
    margin-top: auto;
}

.api-disclaimer {
    font-size: 12px;
    color: red;
}

.mod-indicator {
    color:lightgrey;
}