<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
        <title>Flavour Foundry</title>
        <link rel="stylesheet" href="/css/index.css">
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="header">
            <h1>Flavour Foundry</h1>
        </div>

        <div class="section">
            <span><a href="/external">External Recipes</a></span>
            <span><a href="/community">Community Recipes</a></span>
        </div>
    </body>
</html>